[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "==0.4.4"
selenium = "==4.1.0"
mitmproxy = "~=8.0.0"
protobuf = "<3.20"

[dev-packages]

[requires]
python_version = "3.9"
